body {
  background-image: url(../img/back.png);
  background-repeat: repeat;
}
@media (max-width: 1000px) {
  .container { 
    padding: 20px;
    width: 100%;
  }
  .row div[class^='col-md-'] {
    margin:5px 0 0 0;
  }
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-nav .container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-nav { margin:0;}
.navbar-default {
  box-shadow: 0px 2px 2px #ccc;
}
.container > hr {
  margin: 20px 0;
}
.jumbotron {
  margin: 60px 0 30px 0 ;
  background: none;
  text-align: center;
  padding:0 !important;
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn , .jumbotron .btn-group .btn {
  display: inline-block;
  font-weight: normal;
  text-align: left;
  width: 176px;
  margin: 5px 3px;
  padding: 10px 8px;
  white-space: normal;
}
.jumbotron .btn-group {
  margin: 0;
  padding:0;
}
.jumbotron .btn .server {
  font-weight: bold;
}
.jumbotron .btn .glyphicon {
  vertical-align: center;  
  margin-right: 0px;
  top: 4px;
  float: right;
}
.row { 
	margin-left:0;
	margin-right:0;
}
.glyphicon {
  margin-right: 10px;
}
.percentage {
  font-size: 20px;
}
.footer { 
  margin-bottom: 10px;
}
table { background-color: #fff; }


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(113, 112, 107, 0.1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(113, 112, 107, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(113, 112, 107, 0.1);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(113, 112, 107, 0.1);
}


/* Lighttpd page */ 
#last-update { 
  float:right;
  font-size: 10px;
  font-weight: bold;
}
#server-name {
  font-weight: bold;
  font-size: 26px;
}
.section {
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.innerSection {
  float: left;
}
.clearfix { clear: both; }
.valueContainer {
  background: #f2f2f2;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left;
  margin-right: 10px;
  width: 100px;
}
.valueContainer div {
  font-size: 26px;
  font-weight: bold;
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #aaa;
}
.caret {

  border-top: 4px solid #aaa;
  vertical-align: middle;
  margin-top: -3px;
}